@import "tailwindcss";


/* Smooth font rendering */
html {
  scroll-behavior: smooth;
}

body {
  @apply  text-gray-900 antialiased;
}

/* Custom reusable button style */
.btn-primary {
  @apply bg-emerald-600 text-white px-4 py-2 rounded-lg shadow-md 
         hover:bg-emerald-700 hover:shadow-lg 
         transition-all duration-200 ease-in-out;
}

.input-primary {
  @apply w-full border border-gray-900 p-2 rounded-lg 
         focus:outline-none focus:ring-2 focus:ring-emerald-500;
}

          